/*
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otros
*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
:root{
    /*Colors*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --black:#201E1C;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width:320px;
    height: 334px;
    text-align: center;
}
header img{
    width:150px;
    height: 24px;
    margin-top:60px;
    align-self: center;
}
.header__title--container{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 40px;
    text-align: center;
    align-self: center;

}