/*
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otros
*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
:root{
    /*Colors*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --black:#201E1C;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
header{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width:320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width:150px;
    height: 24px;
    margin-top:60px;
    align-self: center;
}
.header__title--container{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title--container h1{
    font-size:2.4rem;
    font-weight: bold;
    line-height:2.6rem;
    color:var(--just-white);
}

.header__title--container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:var(--soft-orange);

}

.header__title--container .header__button{
    position:absolute;
    top:270px;
    display: block;
    margin-top: 35px;
    padding:15px;
    width: 229px;
    height: 48px;
    left: calc(50% - 118px);
    background-color: var(--off-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color:var(--black);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}
main{
    width:100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/bitcoin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-exchange-container__title h2{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color:var(--black);
}
.main-exchange-container p{
    margin-bottom:30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color:#757575;
}
.main-currency-table{
    width:70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin:0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color:var(--bitcoin-orange);
}
.currency-table__container{
    width:90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;
}
.currency-table__container td{
    width:50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    background-color: var(--just-white);
    color:var(--grey);
}
.currency-table__container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table__container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table__container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table__container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table__container .table-right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color:#757575;
}
.currency-table__container .up, .down{
display: inline-block;
width: 15px;
height: 15px;
margin-left: 10px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.currency-table__container .up{
    background-image: url("./assets/icons/trending-up1.svg");
}
.currency-table__container .down{
    background-image: url("./assets/icons/trending-down1.svg");
}


.main-currency-table .comisiones-table__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #1A9AF7;
}
.currency-table__date, .comisiones-table__date{
    width:190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding:8px;
    border-radius: 8px;
}
.currency-table__date{
    background-color: var(--soft-orange);
}
.comisiones-table__date{
    background: #E7F5FF;
}
.currency-table__date p, .comisiones-table__date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
    font-weight: 300;
}
.main-product-detail{
    position:relative;
    height: auto;
    width: 100%;
    min-width: 320px;
    padding:20px 10px;
    background-color:  #201E1C;
}
.product-detail__batata-logo{
    position: absolute;
    top:-10px;
    width: 40px;
    height: 25px;
    left: calc(50% - 20px);
    background-image: url("./assets/icons/patata.svg");
}
.product-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin:0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail__title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:var(--just-white);
}
.product-detail__title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080;
}
.product-detail__card{
    width: 90%;
    min-height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin:15px auto;
    padding:15px;
    background-color:#282623;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.16);
    border-radius: 5px;
}
.product-detail__card .iconos{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock{
    background-image: url("./assets/icons/clock1.svg");
}
.check{
    background-image: url("./assets/icons/check-circle1.svg");
}
.dollar{
    background-image: url("./assets/icons/dollar-sign1.svg");
}
.product__card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:var(--just-white);
}
.product__card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080;
}

.bitcoin-img-container{
    background-image:url("./assets/imgs/bitcoinbaby2x.jpg");
    width: 100%;
    height: 50vh;
    min-width:320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.bitcoin-img-container h2{
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    padding-top: 60px;
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    margin-bottom: 70px;
    text-align: center;
}
.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin:0 auto;
    margin-bottom: 50px;
    
}
.plans__title h2{
    padding-top:50px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color:var(--black)
}
.plans__title p{
    padding-top:30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}
.plan-info-container{
    width:70%;
    min-width: 230px;
    max-width:300px;
    height: 250px;
    position:relative;
    margin:50px auto 0;
    padding:0 15px;
    background-color: #ffffff;
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}